RewriteEngine On

RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule ^(.*)$ index.php [QSA,L]

# Seguridad básica
<FilesMatch "\.(env|json|md|gitignore|lock)$">
    Require all denied
</FilesMatch>
